@font-face {
    font-family: 'Louis George Cafe Bold';
    src: url('LouisGeorgeCafeBold.ttf');
}
.text {
    -fx-font-family: "Louis George Cafe Bold";
	-fx-font-size: 20px;
    -fx-fill: #000000;
	
	
}
